* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #303030;
}

.container {
    margin-top: 4rem;
    color: #ffffff;
}

/* 
.img-container {
    width: 10rem;
    height: 10rem;
}

.img-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
} */

.login-form {
    width: 30%;
    min-width: 15rem;
    margin: auto;
}

.login-form .mode-choice {
    margin: auto;
    width: 75%;
}

.login-form .normal-mode,
.login-form .face-mode {
    display: none;
}