{% extends 'index.html' %}

{% block content %}

<div class='container'>
    <div class="d-flex align-items-center">
        <div class="img-container">
            <img src="{{url_for('static', filename='images/' + user.image)}}" class="rounded" alt="user image"
                width="200">
        </div>
        <div class="data-container ms-3">
            <div>
                <p>Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
            </div>
            <div>
                <a class="btn btn-warning" href="{{url_for('edit_profile')}}">Edit Profile</a>
                <form action="{{url_for('cartonize')}}" method="post">
                    <input type="submit" class="btn btn-warning" name="Cartonize Profile Pic" value="Cartonize Profile Pic">
                </form>
                   
                
            </div>
        </div>
    </div>
</div>

{% endblock %}